@tailwind base;
@tailwind components;
@tailwind utilities;

.border-100-interactive {
    @apply bg-base-100 border border-base-200/50  shadow shadow-base-200/40 rounded-xl;
}

.border-100 {
    @apply bg-base-100 border border-base-200/50  shadow shadow-base-200/40 rounded-xl;
}

.border-100-interactive:hover {
    @apply bg-base-200/20 border border-base-200/50 shadow shadow-base-200/40 rounded-xl;
}

::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-corner {
    @apply bg-base-300 outline-none border-none;
}

::-webkit-scrollbar-button {
    @apply bg-base-200 cursor-pointer;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    @apply bg-base-300 outline-none rounded-xl;
}

.scale-down-center {
    animation-name: scale-down-center;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes scale-down-center {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0);
    }
}


.embla {
    --slide-spacing: 1rem;
    --slide-size: 50%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }
  .embla__viewport {
    overflow: hidden;
  }

  .embla {
    --slide-spacing: 1rem;
    --slide-size: 50%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__slide__number {
    width: 4.6rem;
    height: 4.6rem;
    z-index: 1;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    border-radius: 50%;
    background-color: rgba(var(--background-site-rgb-value), 0.85);
    line-height: 4.6rem;
    font-weight: 900;
    text-align: center;
    pointer-events: none;
  }
  .embla__slide__number > span {
    color: #424242;
    background-image: linear-gradient(
      45deg,
      #424242
      #454545
    );
    z-index: 500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
