@tailwind base;
@tailwind components;
@tailwind utilities;


.scale-down-center {
    animation-name: scale-down-center;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes scale-down-center {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0);
    }
}